{% extends "base.html" %}
{% include "nevbar.html" %}


{% block title %} main Page {% endblock %}

{% block content %}
<div style="width: 100%; height:50%; padding-top:30px;">
    {% if message %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert"
        style="  margin: auto; width: 60%; padding: 10px;text-align: center; ">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</div>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item['name'] }}</td>
        <td>{{ item['email'] }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}



